/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-hue: 258;
  --second-hue: 225;
  --first-color: hsl(var(--first-hue), 54%, 48%);
  --title-color: hsl(var(--second-hue), 64%, 18%);
  --text-color: hsl(var(--first-hue), 8%, 35%);
  --border-color: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--first-hue), 60%, 98%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Jost', sans-serif;
  --biggest-font-size: 4.25rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
  :root {
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6rem;
  text-align: justify;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  width: 100px;
  height: auto;
  border-radius: .75rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.section {
  padding: 8rem 0 2rem;
}

.section__subtitle,
.section__title {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: 3rem;
}

.section__subtitle {
  display: block;
}

/*=============== HEADER & NAV===============*/
.header {
  width: 100%;
  background-color: var(--container-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/* Active link */


/* Change background header */


/*=============== HOME ===============*/


/*=============== BUTTONS ===============*/


/*=============== ABOUT ===============*/


/*=============== SERVICES ===============*/


/*=============== WORK ===============*/


/*=============== LIGHTBOX ===============*/


/*=============== PROJECT ===============*/


/*=============== EXPERIENCE ===============*/


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1208px) {}

@media screen and (max-width: 1024px) {}

/* For medium devices */
@media screen and (max-width: 768px) {}
  
@media screen and (max-width: 576px) { }

/* For small devices */
@media screen and (max-width: 350px) {}